venv_linux/
connect-plugins/
console-config.yml
credential/
spark/
.env
console_config.yml
etc/
lib/
plugins/spark_config.py
share/
airflow.env
.ipynb_checkpoints/
pyvenv.cfg
ELT/transform/tml
logs/
bin/
__init__
__pycache__
.idea/
.vscode/
*.duckdb
